<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class ="ptVideo">
        <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/XeIisvrExBU?si=EUjzVfEL_N7eyg4R"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        ></iframe>
</div>

    <div>
        <section>
            <button class = "step_now"> 스트레칭 </button>
            <button class = "step"> 스쿼트 </button>
            <button class = "step"> 푸쉬업 </button>
            <button class = "step"> 런지 </button>
            <button class = "step"> 플랭크 </button>
            <button class = "step"> 윗몸 일으키기 </button>
            <button class = "step"> 버피 </button>
            <button class = "step"> 스트레칭 </button>                 
        </section>
    </div>

    <div class="container">
        <section class="chat">
            <div class="messages-chat">
            <div class="message">
                <p class="text"> Hi, how are you ? </p>
            </div>            
            <div class="message text-only">
                <div class="response">
                <p class="text"> Hey Megan ! It's been a while </p>
                </div>
            </div>
            <div class="message text-only">
                <div class="response">
                <p class="text"> When can we meet ?</p>
                </div>
            </div>
            
            <div class="message">

                <p class="text"> 9 pm at the bar if possible 😳</p>
            </div>

            <div class="footer-chat">
            <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
            <input type="text" class="write-message" placeholder="Type your message here"></input>
            <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
            </div>
        </section>
    </div>

  </body>
</html>
