<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gymunity.challenges.repository.PointRepository">


  <!-- 참가시 - 포인트 -->
  <insert id="attendPoint" parameterType="MemDTO">
	INSERT INTO point_subtract 
	(points_subtracted, reason, subtracted_at, user_id)
  	VALUES (#{points_subtracted}, '챌린지 참가', CURRENT_TIMESTAMP, #{user_id})
  </insert>
  
  <!-- 챌린지 + 보상-->
  <insert id = "rewardPoint" parameterType="MemDTO"> 
	  INSERT INTO point_add
	  (points_added, added_reason, added_at, user_id)
	  VALUES (#{points_added}, '챌린지 보상', CURRENT_TIMESTAMP, #{user_id})
  </insert>

  <!-- 보상시 챌린지 배팅 포인트 -->
  <select id="findTotalPoint" parameterType="PointDTO" resultType="int">
	SELECT c.batting_point
	FROM members m
	JOIN challenges c ON m.mem_ch_id = c.ch_id
	WHERE m.mem_user_id = #{mem_user_id} AND m.mem_ch_id = #{mem_ch_id}
  </select> 
  
   <!-- 성공률 찾기 -->
  <select id="findRate" parameterType="PointDTO" resultType="double">
	SELECT archive_rate 
	from members 
	WHERE mem_user_id = #{mem_user_id} AND mem_ch_id = #{mem_ch_id}
  </select>

</mapper>   


















 