1. Env

Ubuntu Server 22.04.4 LTS 
    2022년 4월 출시, 2027년 4월까지 지원
    Linux Kernel 5.15
    OpenJDK 17
    Python 3.10
    sudo apt install gunicorn
    sudo apt install nginx

python 3.10
ollama --> "ollama pull neural-chat" (Local LLM)

Windows : visual studio code, github desktop


2. Python Package (pip install package_name)

flask
sqlalchemy
pymysql
langchain
python-dotenv
youtube-search-python
googletrans (단, youtube-search-python 과 의존성 충돌)

3. Run PT Server

sudo systemctl restart nginx
cd /home/utopos/GitHub/Gymunity/Release/Back/PT
gunicorn --bind unix:/tmp/myproject.sock "__init__:create_app()"
(web browser) http://192.168.0.60

4. Run with Java
sudo nano /etc/nginx/site-avilabel/myproject
