1. Windows Tool >

visual studio code
github desktop
ollama --> "ollama pull neural-chat" (Local LLM)
python 3.12.0

2. Python Package (py -m pip install package_name)

flask
sqlalchemy
langchain
python-dotenv
youtube-search-python

3. Run PT Server

py app.py --> (web browser) localhost:5000


