1. Env

Ubuntu Server 22.04.4 LTS 
    2022년 4월 출시, 2027년 4월까지 지원
    Linux Kernel 5.15
    OpenJDK 17
    Python 3.10
python 3.10
ollama --> "ollama pull neural-chat" (Local LLM)

Windows : visual studio code, github desktop


2. Python Package (pip install package_name)

flask
sqlalchemy
pymysql
langchain
python-dotenv
youtube-search-python
googletrans (단, youtube-search-python 과 의존성 충돌)

3. Run PT Server

py app.py --> (web browser) localhost:5000


