1. Install & Config

Ubuntu Server 22.04.4 LTS

Ubuntu GUI
 - sudo apt-get update
 - sudo apt-get upgrade
 - sudo apt-get install ubuntu-desktop
 - sudo apt-get install indicator-appmenu-tools
 - sudo system reboot
 - Setting > Region & Language 
 - Setting > Keyboard > Input Sources
 - sudo system reboot
 - sudo snap install snap-store
 - Firefox > Korean

Editor (PyCharm, Meld)
 - sudo snap install pycharm-community --classic
 - sudo apt-get -y install meld

Github Desktop
 - wget -qO - https://mirror.mwt.me/ghd/gpgkey | sudo tee /etc/apt/trusted.gpg.d/shiftkey-desktop.asc > /dev/null
 - sudo sh -c 'echo "deb [arch=amd64] https://packagecloud.io/shiftkey/desktop/any/ any main" > /etc/apt/sources.list.d/packagecloud-shiftkey-desktop.list'
 - sudo apt update && sudo apt install github-desktop
 - clone project to local folder

React
 - sudo apt-get install nodejs
 - sudo apt-get install npm
 - sudo apt-get install build-essential
 - npm install -g create-react-app
 - npm install --global yarn
 - cd /project/react
 - yarn install
 - yarn start

Python Flask 
 - sudo apt install python3.10
 - pip install flask
 - pip install flask-cors
 - pip install sqlalchemy
 - pip install pymysql
 - pip install langchain
 - pip install langchain-community
 - pip install python-dotenv
 - pip install youtube-search-python
 - pip install googletrans (단, youtube-search-python 과 의존성 충돌)

NginX, Gunicorn
 - sudo apt-get update
 - sudo apt install gunicorn
 - sudo apt install nginx
 - sudo apt install net-tools
 - sudo nano /etc/nginx/sites-available/myproject
     server {
            listen 80;
            server_name 192.168.0.60;

            location / {
                    include proxy_params;
                    proxy_pass http://localhost:5000/;
            }
    }

 - sudo systemctl start nginx
 - sudo systemctl enable nginx
  (변경시
  - sudo systemctl stop nginx
 - sudo rm /etc/nginx/sites-enabled/myproject
 - sudo ln -s /etc/nginx/sites-available/myproject /etc/nginx/sites-enabled
 - sudo systemctl restart nginx )

MySQL
 - sudo apt-get install mysql-server
 - sudo systemctl start mysql
 - sudo systemctl enable mysql
 - bash create_db.sh (import)

LLM
 - curl -fsSL https://ollama.com/install.sh | sh
 - ollama pull llama3

Spring (Java)
 - sudo apt install openjdk-17*


2. Run 

sudo systemctl restart ollama.service
sudo systemctl restart nginx
sudo systemctl restart mysql

cd /home/utopos/GitHub/Gymunity/Release/v0_2_0/

cd Spring
java -jar 20240411_SNAPSHOT.jar

cd ../Flask
gunicorn --bind 0:5000 "__init__:create_app()"

cd ../React
yarn start

3. Test
(web browser) http://192.168.0.60 -> 
(domain ) https://gymunity.site

4. Backup
sudo apt install timeshift

