1. Install & Config

//OS & Tools
Ubuntu Server 22.04.4 LTS
PyCharm (or Visual Studio Code)
Github Desktop

//React Service
cd React
yarn install
npm install react-simple-chatbot --save
npm install styled-components --save

//Python Flask Service
sudo apt install python3.10
pip install flask
pip install flask-cors
pip install sqlalchemy
pip install pymysql
pip install langchain
pip install python-dotenv
pip install youtube-search-python
pip install googletrans (단, youtube-search-python 과 의존성 충돌)

//Proxy & WSGI Service
sudo apt-get update
sudo apt install gunicorn
sudo apt install nginx


sudo nano /etc/nginx/sites-available/myproject
sudo systemctl stop nginx
sudo rm /etc/nginx/sites-enabled/myproject
sudo ln -s /etc/nginx/sites-available/myproject /etc/nginx/sites-enabled
sudo systemctl start nginx
sudo systemctl enable nginx

//MySQL Service
sudo apt-get install mysql-server
sudo systemctl start mysql
sudo systemctl enable mysql
bash create_db.sh

//Local LLM Service
curl -fsSL https://ollama.com/install.sh | sh
ollama pull neural-chat

//Java Spring Service
sudo apt install openjdk-17*


2. Run (bash run.sh)

ollama serve
sudo systemctl restart nginx
sudo systemctl restart mysql
(enter password)

cd /home/utopos/GitHub/Gymunity/Release/v0_2_0/

cd Spring
java -jar 20240411_SNAPSHOT.jar

cd ../Flask
gunicorn --bind 0:5000 "__init__:create_app()"

cd ../React
yarn start



3. Test
(web browser) http://192.168.0.60
TODO > https://gymunity.site




