<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gymunity.challenges.repository.PointRepository">



  <insert id="attendPoint" parameterType="MemDTO">
	INSERT INTO point_subtract 
	(points_subtracted, subtracted_reason, subtracted_at, user_id)
  	VALUES (#{points_subtracted}, '챌린지 참가', CURRENT_TIMESTAMP, #{user_id})
  </insert>
  


  

</mapper>   


















 