<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.users.mapper.UsersMapper">
	
	<!-- 회원가입-->
	<!-- users 테이블에 데이터 삽입 -->
	<insert id="insertUser" parameterType="UsersDTO" useGeneratedKeys="true" keyProperty="userId">
	    <![CDATA[
	    INSERT INTO users (user_account_id, nick_name, admin_yn)
	    VALUES (#{userAccountId}, #{nickName}, #{admin_yn})
        ]]>
    </insert>
    
    <!-- profiles 테이블에 데이터 삽입 -->
    <insert id="insertProfile" parameterType="UsersDTO">
        <![CDATA[
        INSERT INTO profiles (user_id, password, user_email, user_name)
        VALUES (#{userId}, #{password}, #{userEmail}, #{userName})
        ]]>
    </insert>

    <!-- survey 테이블에 데이터 삽입 -->
    <insert id="insertSurvey" parameterType="Survey">
		<![CDATA[ 
		INSERT INTO survey (user_id, gender, age, goal, level, abnormal)
		VALUES (#{userId}, #{gender}, #{age}, #{goal}, #{level}, #{abnormal})
		]]>
	</insert>
	
	<!-- pt 테이블에 데이터 삽입 -->
	<!-- 
	<insert id="insertPt" parameterType="Survey">
		<![CDATA[ 
		INSERT INTO pt (user_id, plan_name, plan_desc)
		VALUES (#{userId}, #{planName}, #{planDesc})
		]]>
	</insert> -->
	
	<!-- point_aggr 테이블에 데이터 삽입 -->
	<insert id="insertPointAggr" parameterType="Point">
		<![CDATA[ 
		INSERT INTO point_aggr (user_id, total_points)
		VALUES (#{userId}, #{totalPoints})
		]]>
	</insert>
	
	
    <!-- 회원 정보 수정 -->
	<resultMap id="userResultMap" type="UsersDTO">
		 <result property="userId" column="user_id"/>
		 <result property="userAccountId" column="user_account_id"/>
		 <result property="nickName" column="nick_name"/>
	</resultMap>

    <update id="updateUsers" parameterType="UsersDTO">
        UPDATE users
        SET nick_name = #{nickName}
        WHERE user_id = #{userId};
    </update>

    <update id="updateProfiles" parameterType="UsersDTO">
        UPDATE profiles
        SET user_email = #{userEmail}
        WHERE user_id = #{userId};
    </update>
	
	<!--회원정보 가져오기-->
	<select id="selectByAccountId" parameterType="string" resultMap="userResultMap">
		SELECT u.*, p.*
		FROM users u
		JOIN profiles p ON u.user_id = p.user_id
		WHERE u.user_account_id = #{userAccountId}
	</select>
    
    <!-- 회원 탈퇴 -->
    <!-- Users 테이블에서 사용자 데이터 삭제 -->
    <delete id="deleteUser" parameterType="int">
		DELETE FROM users WHERE user_id = #{userId}
    </delete>
</mapper>