<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="player"></div>
    <script>
      var tag = document.createElement('script');
      tag.src = 'https://www.youtube.com/player_api';
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      var index = 0;
      var video_list_str = '{{video_list}}';
      const my_play_list = video_list_str.split(',');

      console.log(my_play_list[index]);

      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          videoId: my_play_list[index],
          playerVars: { rel: 0 },
          events: {
            onStateChange: onPlayerStateChange,
          },
        });
      }

      function onPlayerStateChange(event) {
        if (event.data === YT.PlayerState.ENDED) {
          if (index < my_play_list.length - 1) {
            console.log('스텝 완료');
            index++;
            player.loadVideoById(my_play_list[index]);
          } else {
            console.log('오늘 운동 완료');
          }
        }
      }
    </script>

    <div class="row">
      <div class="col-md-10 mr-auto ml-auto">
        <h1>QnA</h1>
        <form>
          <div id="chatbox">
            <div class="col-md-8 ml-auto mr-auto">
              <p class="botText">
                <span>unit_name 에 대해서 무엇이든 물어보세요.</span>
              </p>
            </div>
          </div>
          <div id="userInput" class="row">
            <div class="col-md-10">
              <input
                id="text"
                type="text"
                name="msg"
                placeholder="Message"
                class="form-control"
              />
              <button type="submit" id="send" class="btn btn-warning">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $('form').on('submit', function (event) {
          var rawText = $('#text').val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $('#text').val('');
          $('#chatbox').append(userHtml);
          document.getElementById('userInput').scrollIntoView({
            block: 'start',
            behavior: 'smooth',
          });
          $.ajax({
            data: {
              msg: rawText,
            },
            type: 'POST',
            url: '/get',
          }).done(function (data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $('#chatbox').append($.parseHTML(botHtml));
            document.getElementById('userInput').scrollIntoView({
              block: 'start',
              behavior: 'smooth',
            });
          });
          event.preventDefault();
        });
      });
    </script>
  </body>
</html>
