<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="player"></div>
    <script>
      var tag = document.createElement('script');
      tag.src = 'https://www.youtube.com/player_api';
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;

      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          playerVars: {
            listType: 'playlist',
            list: '{{video_list}}',
            rel: 0,
          },
          events: {
            onStateChange: onPlayerStateChange,
          },
        });
      }

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          console.log('오운완');
        }
      }
    </script>
  </body>
</html>
