<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gymunity.user.repository.SigninMapper">

	<resultMap id="userResultMap" type="User">
		<result property="userId" column="user_id" />
		<result property="userAccountId" column="user_account_id" />
		<result property="nickName" column="nick_name" />
		<result property="adminYn" column="admin_yn" />
		<result property="lastSignin" column="last_signin" />
	</resultMap>

	<!--회원정보 가져오기-->
	<select id="findUserByAccountId" parameterType="string"
		resultMap="userResultMap">
		SELECT *
		FROM users
		WHERE user_account_id = #{userAccountId}
	</select>


	<!-- last_signin 필드 업데이트 -->
	<update id="updateLastSignin" parameterType="User">
		UPDATE users
		SET last_signin = #{lastSignin}
		WHERE user_id = #{userId};
	</update>
	
	<!-- userId로 users 조회-->
	<select id="selectUsersByUserId" parameterType="int"
		resultMap="userResultMap">
		SELECT *
		FROM users
		WHERE user_id = #{userId}
	</select>

</mapper>
<!-- 
		 <result property="nickName" column="nick_name"/>
		 <result property="lastLogin" column="last_login"/> -->